.game-history {
  animation: history 1s linear;
}

@keyframes history {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row-container {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 576px) {
  .history-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
